[submodule "repos/less.vim"]
	path = repos/less.vim
	url = git://github.com/huyz/less.vim.git
[submodule "repos/pathogen"]
	path = repos/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "repos/vim-haskell"]
	path = repos/vim-haskell
	url = git://github.com/wlangstroth/vim-haskell.git
[submodule "repos/prettyprint"]
	path = repos/prettyprint
	url = git://github.com/thinca/vim-prettyprint.git
[submodule "repos/vim-railscasts-jgdavey"]
	path = repos/vim-railscasts-jgdavey
	url = git://github.com/jgdavey/vim-railscasts.git
[submodule "repos/zencoding"]
	path = repos/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "repos/speeddating"]
	path = repos/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "repos/repeat"]
	path = repos/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "repos/badwolf-colors"]
	path = repos/badwolf-colors
	url = git://github.com/vim-scripts/badwolf.git
[submodule "repos/syntastic"]
	path = repos/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "repos/hemisu-colors"]
	path = repos/hemisu-colors
	url = git://github.com/noahfrederick/Hemisu.git
[submodule "repos/neverland-colors-256"]
	path = repos/neverland-colors-256
	url = git://github.com/trapd00r/neverland-vim-theme.git
[submodule "repos/vim-rst-tables"]
	path = repos/vim-rst-tables
	url = git://github.com/nvie/vim-rst-tables.git
[submodule "repos/vim-rst-headings"]
	path = repos/vim-rst-headings
	url = git://github.com/jtriley/vim-rst-headings.git
[submodule "repos/vim-rst"]
	path = repos/vim-rst
	url = git://github.com/veselosky/vim-rst.git
[submodule "repos/vim-markdown"]
	path = repos/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "repos/python-mode"]
	path = repos/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "repos/junos_vim_syntax_highlight"]
	path = repos/junos_vim_syntax_highlight
	url = https://bitbucket.org/sentimental/junos_vim_syntax_highlight.git
[submodule "repos/mustache"]
	path = repos/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "repos/vimpidgin-svn"]
	path = repos/vimpidgin-svn
	url = git://github.com/akatrevorjay/vimpidgin.git
[submodule "repos/tropikos"]
	path = repos/tropikos
	url = git://github.com/vim-scripts/tropikos.git
[submodule "repos/rainbow-parantheses-improved"]
	path = repos/rainbow-parantheses-improved
	url = git://github.com/vim-scripts/Rainbow-Parentheses-Improved.git
[submodule "repos/mru"]
	path = repos/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "repos/salt-vim"]
	path = repos/salt-vim
	url = git://github.com/saltstack/salt-vim.git
[submodule "repos/jedi-vim"]
	path = repos/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "repos/notmuch-vim-ruby"]
	path = repos/notmuch-vim-ruby
	url = git://github.com/felipec/notmuch-vim-ruby.git
[submodule "repos/Recover.vim"]
	path = repos/Recover.vim
	url = git://github.com/chrisbra/Recover.vim.git
[submodule "repos/powerline"]
	path = repos/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "repos/vdebug"]
	path = repos/vdebug
	url = git://github.com/joonty/vdebug.git
[submodule "repos/open-browser"]
	path = repos/open-browser
	url = https://github.com/tyru/open-browser.vim
[submodule "repos/vimoutliner"]
	path = repos/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
[submodule "repos/vim-lucius"]
	path = repos/vim-lucius
	url = git://github.com/jonathanfilip/vim-lucius.git
[submodule "repos/vim-distinguished"]
	path = repos/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "repos/jellybeans"]
	path = repos/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "repos/vim-vividchalk"]
	path = repos/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "repos/fugitive"]
	path = repos/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "repos/minibufexpl"]
	path = repos/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "repos/surround"]
	path = repos/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "repos/nerdtree"]
	path = repos/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "repos/ctrlp"]
	path = repos/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "repos/gundo"]
	path = repos/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "repos/notes"]
	path = repos/notes
	url = git://github.com/xolox/vim-notes.git
[submodule "repos/tagbar"]
	path = repos/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "repos/nerdcommenter"]
	path = repos/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "repos/neocomplcache"]
	path = repos/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "repos/supertab"]
	path = repos/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "repos/trailing-whitespace"]
	path = repos/trailing-whitespace
	url = git://github.com/vim-scripts/trailing-whitespace.git
[submodule "repos/json"]
	path = repos/json
	url = https://github.com/leshill/vim-json.git
[submodule "repos/vim-orgmode"]
	path = repos/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule "repos/csapprox"]
	path = repos/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "repos/vim-buffergator"]
	path = repos/vim-buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "repos/eunuch"]
	path = repos/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "repos/vim-misc"]
	path = repos/vim-misc
	url = git://github.com/xolox/vim-misc.git
[submodule "repos/vim-hybrid"]
	path = repos/vim-hybrid
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "repos/Atom"]
	path = repos/Atom
	url = git://github.com/zaiste/Atom.git
[submodule "repos/jacinto"]
	path = repos/jacinto
	url = git://github.com/alfredodeza/jacinto.vim.git
